<div class="player-stats-card">
  <div class="player-stats-card">
{{!-- This should be a for loop to populate cards for each player we a user has on a team.  Maybe a heading for each team a user has and then a card for each player and their weekly stats? see below--}}


<ul class="player_list">
  {{#each player}}
      <label for="Name">
      Player Name:
    <li>{{data.Name[0]}}</li>
        <label for="Position">
      Position:
    <li>{{data.Position[0]}}</li>
        <label for="Team">
      Team:
    <li>{{data.Team[0]}}</li>
        <label for="LastGameFantasyPoints">
      Last Game Fantasy Points:
    <li>{{data.LastGameFantasyPoints[0]}}</li>
        <label for="ProjectedFantasyPoints">
      Projected Fantasy Points:
    <li>{{data.ProjectedFantasyPoints[0]}}</li>
  {{/each}}
</ul>